*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-top: -10px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

li{
    list-style-type: none;
    margin-top: 10px;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color: #040d31;
}

li a:hover{
    color: rgb(238, 36, 36);
}

#home {
    color: #040d31;
    font-size: 1rem;
    font-weight: bold;
}

#home:hover{
    color: blue;
}



#same {
    /* color: #040d31; */
    color: white;
}

#love {
    border-radius: 100px;
    background-color: #040d31;
    border: 10px solid black;
    transition: 2s;
}

#love:hover  {
    transition-timing-function: ease-out;
    cursor: pointer;

}

#serve a {
    color: #040d31; 
    text-decoration: none;
    scroll-behavior: smooth;
}

#services {
    scroll-behavior: smooth;
}

#about a {
    color: #040d31;
    text-decoration: none;
    scroll-behavior: smooth;
}

#about {
    scroll-behavior: smooth;
}

#trans {
    position: relative;
    overflow: hidden;
}

#trans {
    transform: transform 2s ease-in-out;
    transition-timing-function: 4s;
    cursor: pointer;
    background-color: #040d31;
}

#trans:hover  {
    transform: scale(1.1);
    background-color: rgb(7, 7, 151);
}



